<%= render "layouts/flash" %>

<div class="container py-4 px-2 gap-4">
  <h1 class="text-center">Log in</h1>

  <%= form_with url: session_path, class: "d-flex justify-content-center" do |form| %>
    <div class="d-flex flex-column justify-content-center p-4 gap-4 w-100" style="max-width: min(100%, 400px);">
      <%= form.email_field :email_address,
        required: true,
        autofocus: true,
        autocomplete: "username",
        placeholder: "Enter your email address",
        value: params[:email_address] %>

      <%= form.password_field :password,
        required: true,
        autocomplete: "current-password",
        placeholder: "Enter your password",
        maxlength: 72 %>

      <%= form.submit "Sign in" %>

      <div class="text-center">
        <%= link_to "Forgot password?", new_password_path %>
      </div>
    </div>
  <% end %>
</div>
