<div class="vh-100">
  <%= render "chats/mobile_sidebar" %>

  <div class="d-flex h-100">
    <%= render "chats/desktop_sidebar" %>

    <!-- TODO: can we avoid inline styles? -->
    <main class="d-flex flex-column flex-grow-1" style="max-width: 100vw;">
      <%= render "chats/navbar" %>

      <section class="p-2 d-flex flex-column flex-grow-1 overflow-y-scroll">
        <%= yield :content %>
      </section>

      <div class="bg-body border-top sticky-bottom">
        <%= yield :input %>
      </div>
    </main>
  </div>
</div>
