<div class="vh-100">
  <%= render "chats/mobile_sidebar" %>

  <div class="d-flex h-100">
    <%= render "chats/desktop_sidebar" %>

    <main class="d-flex flex-column flex-grow-1">
      <%= render "chats/navbar" %>

      <section class="p-2 d-flex flex-column flex-grow-1">
        <%= yield :content %>
      </section>

      <div class="bg-body border-top sticky-bottom">
        <%= form_with model: @chat,
          class: "d-flex p-2 m-2" do |form| %>

          <%= form.search_field :message,
            class: "border rounded-start p-4 w-100",
            placeholder: "Type a message (Shift+Enter to add a newline)" %>

          <%= button_tag type: :submit,
            name: nil,
            class: "p-2 border-0 border-top border-bottom border-end rounded-end" do %>
            <%= image_tag "arrow-up-circle.svg", class: "m-2" %>
          <% end %>

        <% end %>
      </div>
    </main>
  </div>
</div>
