<% content_for :title, "Chats" %>

<div class="vh-100">
  <%= render "chats/mobile_sidebar" %>

  <div class="d-flex h-100">
    <%= render "chats/desktop_sidebar" %>

    <main class="d-flex flex-column flex-grow-1">
      <nav class="border-bottom px-2 py-4 sticky-top bg-body d-flex justify-content-between">
        <div class="w-100 d-flex justify-content-between align-items-center gap-4">
          <button class="d-md-none btn border rounded" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
            <%= image_tag "list.svg", class: "w-100 h-100" %>
          </button>

          <div class="flex-grow-1 d-flex justify-content-start">
            <h1 class="px-2">title</h1>
          </div>

          <%= button_to session_path,
            method: :delete,
            data: { turbo_confirm: "Sign out?" },
            class: "btn border rounded" do %>
            Log out
          <% end %>
        </div>
      </nav>

      <section class="p-2 d-flex flex-column flex-grow-1">
        <% if Current.user.chats.count.zero? %>
          <div class="text-center">Send a message to start</div>

          <div class="border rounded p-3 m-3 w-50 align-self-center text-secondary">
            <div class="fw-bold">Server info</div>
            <div class="d-flex gap-1">
              <div class="fw-bold">Model:</div>
              <%= Current.model %>
            </div>
          </div>
        <% else %>
          <% 1.upto(20) do |index| %>
            <% if index.odd?%>
              <div class="border rounded p-3 m-3 w-50 align-self-end">
                <%= "Question: #{index}" %>
              </div>
            <% else %>
              <div class="border rounded p-3 m-3 w-50 align-self-start">
                <%= "Answer: #{index}" %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </section>

      <div class="bg-body border-top sticky-bottom">
        <%= form_with model: @chat,
          class: "d-flex p-2 m-2" do |form| %>

          <%= form.search_field :message,
            class: "border rounded-start p-4 w-100",
            placeholder: "Type a message (Shift+Enter to add a newline)" %>

          <%= button_tag type: :submit,
            name: nil,
            class: "p-2 border-0 border-top border-bottom border-end rounded-end" do %>
            <%= image_tag "arrow-up-circle.svg", class: "m-2" %>
          <% end %>

        <% end %>
      </div>
    </main>
  </div>
</div>
