<div class="container py-4 px-2 gap-4">
  <!-- spacer -->
  <div style="margin-top: 5rem;"></div>

  <h1 class="text-center">Update your password</h1>

  <%= form_with url: session_path, class: "d-flex justify-content-center" do |form| %>
    <div class="d-flex flex-column justify-content-center p-4 gap-4 w-100" style="max-width: min(100%, 400px);">
      <%= form.password_field :password,
        required: true,
        autocomplete: "new-password",
        placeholder: "Enter new password",
        maxlength: 72 %>

      <%= form.password_field :password,
        required: true,
        autocomplete: "new-password",
        placeholder: "Repeat new password",
        maxlength: 72 %>

      <%= form.submit "Save" %>

      <div class="text-center">
        <%= link_to "Sign in instead", new_session_path %>
      </div>
    </div>
  <% end %>
</div>
