<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "We Have Ai At Home" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="min-vh-100 d-flex flex-column">
    <nav class="border px-2 py-4 sticky-top bg-body d-flex justify-content-between">
      <div class="w-100 d-flex justify-content-between gap-4">
        <button class="btn border rounded" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
          <%= image_tag "list.svg", class: "w-100 h-100" %>
        </button>

        <div class="w-100 d-flex justify-content-start">
          <h1>chat</h1>
        </div>
      </div>
    </nav>

    <aside class="offcanvas offcanvas-start" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="sidebarLabel">Chats</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div class="border rounded p-2">
          todo
        </div>
      </div>
    </aside>

    <main class="d-flex flex-column flex-grow-1">
      <section class="p-2 d-flex flex-column">
        <% 1.upto(20) do |index| %>
          <% if index.odd?%>
            <div class="border rounded p-3 m-3 w-50 align-self-end">
              <%= "Question: #{index}" %>
            </div>
          <% else %>
            <div class="border rounded p-3 m-3 w-50 align-self-start">
              <%= "Answer: #{index}" %>
            </div>
          <% end %>
        <% end %>
      </section>

      <div class="bg-body border-top sticky-bottom">
        <div class="d-flex flex-column">
          <input
            class="border p-4 m-4 rounded"
            placeholder="Type a message (Shift+Enter to add a newline)">
          </input>
        </div>
      </div>
    </main>
  </body>
</html>
